@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    font-family: 'Staatliches', cursive;
    margin: auto;
    width: fit-content;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: bg-rain 15s infinite;
    background-size: 1000%;
    filter: brightness(0.7);
}

@keyframes bg-rain {
    0% {background-position: left;}
    50% {background-position: right;}
    100% {background-position: left;}
}

.pal-wrapp {
    gap: 5px;
    display: flex;
    height: auto;
    margin: auto;
    margin-top: 5vh;
    flex-wrap: wrap;
    justify-content: center;
}

.pal-it {
    height: 100px;
    width: 100px;
    min-width: 100px;
    max-height: 100px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    //box-shadow: rgba(0, 0, 0, 0.137) 0 0 20px,rgba(0, 0, 0, 0.054) 5px 5px 15px inset;
    //box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    flex: 1 0 0%;
    transition: 0.2s;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    >div {
        transition: .3s;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.507);
        padding: 5px;
        margin: 5px;
        border-radius: 8px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        //mix-blend-mode: difference;
    }
}

.col-bt {
    cursor: pointer;
    background-color: lightgray;
    color: black;
    margin: auto;
    display: block;
    margin: 20px auto;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 20px;
    border-radius: 8px;
    transition: 0.3s;
    border: 2px rgba(255, 255, 255, 0.438) solid;
    &:hover {
        border: 2px rgb(170, 4, 170) solid;
        filter: brightness(1.1);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
    &:active {
        color: rgb(170, 4, 170);
        transition: 0s;
        transform: scale(0.95);
        background-color: rgb(255, 255, 255);
    }
}

.rangestyle {
    margin: auto;
    width: 100%;
    display: block;
    --thumbcol: purple;
    --thumbborder: black 0px solid;
    --sliderborder: rgb(163, 163, 163) 1px solid;
}

  input[type=range] {
    height: 37px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    
    background: #CCCCCC;
    border-radius: 50px;
    border: var(--sliderborder);
  }
  input[type=range]::-webkit-slider-thumb {
    
    border: var(--thumbborder);
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background: var(--thumbcol);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #CCCCCC;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    
    background: #CCCCCC;
    border-radius: 50px;
    border: var(--sliderborder);
  }
  input[type=range]::-moz-range-thumb {
    
    border: var(--thumbborder);
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background: var(--thumbcol);
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #CCCCCC;
    border: var(--sliderborder);
    border-radius: 100px;
    
  }
  input[type=range]::-ms-fill-upper {
    background: #CCCCCC;
    border: var(--sliderborder);
    border-radius: 100px;
    
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    
    border: var(--thumbborder);
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background: var(--thumbcol);
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #020202;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #CCCCCC;
  }

  .colsum {
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    margin: 20px 0;
    background-color:rgba(250, 235, 215, 0.424);
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    font-weight: bold;
    border-radius: 8px;
    border: 1px gray solid;
    cursor: pointer;
    transition: 0.3s;
    border: 2px transparent solid;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    &:hover {
        border: 2px rgb(170, 4, 170) solid;
        filter: brightness(1.1);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
    &:active {
        color: rgb(170, 4, 170);
        transition: 0s;
        transform: scale(0.95);
        background-color: rgb(255, 255, 255);
    }
  }

a.colsum {
  width: fit-content;
  flex: 1 1 30%;
  margin: 0;
  text-decoration: none;
  box-shadow: none;
}

footer {
  margin-top: 10vh;
  h2 {
    color: gray;
    font-family: 'Staatliches', cursive;
    width: fit-content;
    margin: auto;
  }
  >div {
    flex-wrap: wrap;
    gap: 5px;
    display: flex;
  }
}