@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

h1 {
  font-family: 'Staatliches', cursive;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: red;
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: -webkit-gradient(linear, left top, right top, from(orange), color-stop(yellow), color-stop(green), color-stop(cyan), color-stop(blue), to(violet));
  background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet);
  /* Standard syntax (must be last) */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: bg-rain 15s infinite;
          animation: bg-rain 15s infinite;
  background-size: 1000%;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

@-webkit-keyframes bg-rain {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes bg-rain {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.pal-wrapp {
  gap: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin: auto;
  margin-top: 5vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.pal-it {
  max-height: 100px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10%;
          flex: 1 1 10%;
  aspect-ratio: 1/1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pal-it > div {
  -webkit-transition: .1s;
  transition: .1s;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.507);
  padding: 5px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.col-bt {
  cursor: pointer;
  border: none;
  background-color: lightgray;
  color: black;
  margin: auto;
  display: block;
  margin: 20px auto;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 20px;
  border-radius: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.col-bt:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.col-bt:active {
  -webkit-transition: 0s;
  transition: 0s;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.rangestyle {
  margin: auto;
  width: 100%;
  display: block;
}

input[type=range] {
  height: 37px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 6px #C9C9C9;
          box-shadow: 3px 3px 6px #C9C9C9;
  background: #CCCCCC;
  border-radius: 50px;
  border: 0px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 1px 1px 3px #808080;
          box-shadow: 1px 1px 3px #808080;
  border: 0px solid #00001E;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #CCCCCC;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  box-shadow: 3px 3px 6px #C9C9C9;
  background: #CCCCCC;
  border-radius: 50px;
  border: 0px solid #010101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 3px #808080;
  border: 0px solid #00001E;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background: #000000;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #CCCCCC;
  border: 0px solid #010101;
  border-radius: 100px;
  box-shadow: 3px 3px 6px #C9C9C9;
}

input[type=range]::-ms-fill-upper {
  background: #CCCCCC;
  border: 0px solid #010101;
  border-radius: 100px;
  box-shadow: 3px 3px 6px #C9C9C9;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 3px #808080;
  border: 0px solid #00001E;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background: #000000;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #CCCCCC;
}

input[type=range]:focus::-ms-fill-upper {
  background: #CCCCCC;
}
